@keyframes trueButtonBlink {
  to {
    background-color: green;
  }

  50% {
    background-color: #1da534;
  }

  80% {
    background-color: #1da534;
  }

  from {
    background-color: green;
  }
}

@keyframes falseButtonBlink {
  to {
    background-color: red;
  }

  50% {
    background-color: #9b0808;
  }

  80% {
    background-color: #9b0808;
  }

  from {
    background-color: red;
  }
}
